<% provide(:title, t(".title")) %>
<main role="main">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center
    bg-light home_bg">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-5 font-weight-normal"><%= t(".brand") %></h1>
      <p class="lead font-weight-normal"></p>
      <%= link_to t(".signup"), new_user_registration_path, class: "btn btn-primary"%>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
  </div>
  <div class="container">
    <div class="row offers_items">
      <%= render partial: "static_pages/tour", collection: @tours %>
      <%= will_paginate @tours %>
    </div>
  </div>
</main>
