<li>
  <%= image_tag check_none_image(user), size: Settings.app.user.avatar_size_list %>
  <%= link_to user.lastname, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t(".delete"), user, method: :delete,
        data: { confirm: t(".you_sure") } %>
  <% end %>
</li>
