<tr>
  <td></td>
  <td><%= category.name %></td>
  <td>
    <%= link_to t(".edit"), edit_admin_category_path(category) %>
  </td>
  <td>
    <%= link_to t(".delete"), admin_category_path(category), method: :delete,
      data: { confirm: t(".sure") } %>
  </td>
</tr>
