$color-bg-offer: #f3f6f9;
$color-offer: #fa9e1b;
$color-offer-a: #FFFFFF;
$color-price: #eda84a;
$color-price-span: #929191;
$color-text: #929191;
$color-link-a: #2d2c2c;
$color-gray-background: #f7f7eb;

footer{
  padding-top: 50px;
}
.offers
{
  width: 100%;
  padding-top: 105px;
  padding-bottom: 43px;
  background: $color-bg-offer;
}
.offers_items
{
  margin-top: 90px;
}
.offers_col
{
  margin-bottom: 83px;
}
.offers_item
{

}
.offers_image_container
{
  width: 100%;
  height: 100%;
}
.offers_image_background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.offer_name
{
  position: absolute;
  left: 0;
  bottom: 27px;
  width: 180px;
  height: 33px;
  background: $color-offer;
  overflow: hidden;
}
.offer_name a
{
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: $color-offer-a;
  text-transform: uppercase;
  line-height: 35px;
  padding-left: 22px;
}
.offers_content
{

}
.offers_price
{
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  color: $color-price;
  line-height: 25px;
}
.offers_price span
{
  font-size: 14px;
  font-weight: 400;
  color: $color-price-span;
  margin-left: 12px;
}
.offers_rating
{

}
.offers_rating i::before
{
  font-size: 13px;
  margin-right: 2px;
}
.offers_text
{
  font-size: 14px;
  font-weight: 400;
  color: $color-text;
  margin-top: 16px;
}
.offers_icons
{
  margin-top: 17px;
}
.offers_icons_item
{
  display: inline-block;
  margin-right: 15px;
}
.offers_icons_item:last-child
{
  margin-right: 0px;
}
.offers_link
{
  margin-top: 54px;
}
.offers_link a
{
  font-size: 12px;
  font-weight: 700;
  color: $color-link-a;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.offers_link a:hover
{
  color: #fa9e1b;
}

/* debug dump */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.admin_layout {
  margin: 0 100px;
  border-radius: 15px;
  background: $color-gray-background;
}

.btn-custom {
  margin-bottom: 13px;
}
