$color-gray-background: #f7f7eb;
$gray-medium-light: #eaeaea;

footer{
  padding-top: 50px;
}

/* debug dump */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background: $gray-medium-light;
  @include box_sizing;
}

.admin_layout {
  margin: 0 100px;
  border-radius: 15px;
  background: $color-gray-background;
}

.btn-custom {
  margin-bottom: 13px;
}

.is-disable {
  color: currentColor;
  cursor: not-allowed;
}

/* Set background */

.home_bg{
  background-image: url("bghome.jpg");
}

/* set line like button and count like */
.element1 {
  display:inline-block;
  margin-left: 0px;
}
.element2 {
  display:inline-block;
}

/* color price */
.price {
  color: red;
  font-weight: bold;
}
